body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
}
ul li{
    margin-left: 25px;
    /* list-style-type: upper-roman; */
    position: relative;
    border-radius: 5px;

 }
nav li{
   display: inline-block;
   position: relative;
   background-color: #00ffff;
   font-size: 15px;
   text-align: left;
   border-radius: 25px;
   padding: 10px;
   /* margin-right: 420px; */
   border: solid 2px #000000;
   z-index: inherit;
}
img{
   width: 24%;
   padding: 10px;
   border: dashed 3px #000000;
   margin: none;
}
p{
   /* display: inline-block; */
   width: 30%;
   border: dashed 1px blue;
   position: static;
   top: 25px;
   left: 50px;
}